$fontPrimary: 'Roboto', sans-serif;
$fsContent: 14px;

$bodyBgColor: #F5F8FA;
$colorPrimary: #EFF2F6;
$colorSecondary: #213867;
$colorWhite: #fff;
$colorRed1: #BD3F3D;
$colorGrey: #F0F2F6;
$colorBlack: #1e1e1e;